[Desktop Entry]
Name=Kiyo Browser
Comment=A premium, Arch-inspired web browser
Exec=npm start --prefix /home/khaled/Done_Apps/KiyoBrowser -- %u
Icon=web-browser
Terminal=false
Type=Application
Categories=Network;WebBrowser;
MimeType=text/html;text/xml;application/xhtml+xml;x-scheme-handler/http;x-scheme-handler/https;
Keywords=Browser;Web;Internet;Arch;
